# Disector volumes
Read the newly counted disector volumes

In [1]:
#Load the data and set up notebook
import platform
import glob
import os
import pandas

In [2]:
# We copied everything from nas_schittny and the terastation to 'fast SSD'.
# Load the data from there
if 'debian' in platform.dist():
    drive = '/media/habi/Fast_SSD/'
else:
    drive = '\\\\anatera4\\'
# Load the data from this folder
RootPath = drive + os.path.join('Acini')
print('We are loading all the data from %s' % RootPath)

We are loading all the data from /media/habi/Fast_SSD/Acini

In [3]:
# Get a list of all the STEPanizer export files from Eveline
# Based on https://stackoverflow.com/a/14798263
StepanizerFiles = sorted(glob.glob(os.path.join(RootPath, '**/*201[1234567]*.xls'), recursive=True))

In [4]:
print('Eveline counted the alveoli in %s acini' % len(StepanizerFiles))

Eveline counted the alveoli in 287 acini

In [5]:
Eveline = pandas.DataFrame({'Location_Counts': StepanizerFiles})
Eveline['Filename_Counts'] = [os.path.basename(f) for f in StepanizerFiles]
Eveline['Beamtime'] = [os.path.dirname(f).split('Acini')[1].split(os.sep)[1] for f in StepanizerFiles]
Eveline['Sample'] = [os.path.basename(f).split('-acinus')[0][1:] for f in StepanizerFiles]
Eveline['Animal'] = [os.path.basename(f).split('_R108C')[1].split('mrg-')[0][:3] for f in StepanizerFiles]
Eveline['Day'] = [int(os.path.basename(f).split('_R108C')[1].split('mrg-')[0][:2]) for f in StepanizerFiles]
Eveline['Acinus'] = [int(os.path.basename(f).split('acinus')[1].split('_')[0]) for f in StepanizerFiles]

In [6]:
Eveline.groupby(by=['Day', 'Animal'])['Acinus'].describe()

            count       mean        std   min    25%   50%    75%   max
Day Animal
4   04A      50.0  54.240000  22.463176  11.0  36.50  56.5  74.75  88.0
    04B      23.0  26.913043  10.413772   3.0  18.50  29.0  35.50  41.0
    04C      51.0  29.372549  18.909216   0.0  13.50  27.0  45.50  63.0
10  10A      27.0  26.703704  14.940433   2.0  13.50  25.0  39.00  53.0
    10B      14.0  22.285714  12.862758   4.0  12.50  20.0  31.25  43.0
    10C      17.0  40.647059  26.636303   1.0  20.00  38.0  61.00  86.0
21  21B      14.0  27.214286  17.742511   2.0  11.75  28.5  41.25  54.0
    21D      17.0  46.764706  30.173518   1.0  21.00  49.0  68.00  98.0
    21E      11.0  27.545455  18.468154   1.0  13.00  27.0  41.50  56.0
60  60B      24.0  15.500000  10.121007   0.0   7.50  14.5  24.50  31.0
    60C      20.0  11.850000   7.442941   0.0   5.75  12.5  17.25  24.0
    60D      10.0  13.400000   7.988881   3.0   7.50  12.5  18.75  26.0
    60E       9.0   8.444444   4.333333   2.0   6.00   8.0  12.00  14.0

In [25]:
# Get a list of *all* the excel files I counted are from the STEPanizer
# Differing to the ones from Eveline, we only have '2018' in the file name...
StepanizerFiles = sorted(glob.glob(os.path.join(RootPath, '**/*2018*.xls'), recursive=True))

In [26]:
print('David assessed the disector volume in %s acini' % len(StepanizerFiles))

David assessed the disector volume in 15 acini

In [27]:
David = pandas.DataFrame({'Location_Counts': StepanizerFiles})
David['Filename_Counts'] = [os.path.basename(f) for f in StepanizerFiles]
David['Beamtime'] = [os.path.dirname(f).split('Acini')[1].split(os.sep)[1] for f in StepanizerFiles]
David['Sample'] = [os.path.basename(f).split('-acinus')[0][1:] for f in StepanizerFiles]
David['Animal'] = [os.path.basename(f).split('_R108C')[1].split('mrg-')[0][:3] for f in StepanizerFiles]
David['Day'] = [int(os.path.basename(f).split('_R108C')[1].split('mrg-')[0][:2]) for f in StepanizerFiles]
David['Acinus'] = [int(os.path.basename(f).split('acinus')[1].split('_')[0]) for f in StepanizerFiles]

In [28]:
David.groupby(by=['Day', 'Animal'])['Acinus'].describe()

            count  mean        std   min    25%   50%    75%   max
Day Animal
4   04A       2.0  23.0   4.242641  20.0  21.50  23.0  24.50  26.0
    04B       1.0   3.0        NaN   3.0   3.00   3.0   3.00   3.0
    04C       2.0  12.5  17.677670   0.0   6.25  12.5  18.75  25.0
10  10A       3.0  26.0  17.691806  10.0  16.50  23.0  34.00  45.0
    10C       1.0  12.0        NaN  12.0  12.00  12.0  12.00  12.0
21  21B       1.0   5.0        NaN   5.0   5.00   5.0   5.00   5.0
    21D       1.0  30.0        NaN  30.0  30.00  30.0  30.00  30.0
    21E       1.0  50.0        NaN  50.0  50.00  50.0  50.00  50.0
60  60B       1.0  22.0        NaN  22.0  22.00  22.0  22.00  22.0
    60C       1.0  17.0        NaN  17.0  17.00  17.0  17.00  17.0
    60D       1.0  23.0        NaN  23.0  23.00  23.0  23.00  23.0

In [29]:
# Copied verbatim from ReadVolumeSurfaceAndAlveaolarNumber.py
DisectorThickness = 5  # slices
TOMCATPixelSize = 1.48   # um

In [30]:
DisectorVolumes = pandas.DataFrame({'Location_Disector': StepanizerFiles})
DisectorVolumes['Filename_Disector'] = [os.path.basename(f) for f in StepanizerFiles]
DisectorVolumes['Animal'] = [os.path.basename(f).split('_R108C')[1].split('mrg-')[0][:3] for f in StepanizerFiles]
DisectorVolumes['Day'] = [int(os.path.basename(f).split('_R108C')[1].split('mrg-')[0][:2]) for f in StepanizerFiles]
DisectorVolumes['Acinus'] = [int(os.path.basename(f).split('acinus')[1].split('_')[0]) for f in StepanizerFiles]
DisectorVolumes['Counts'] = [int(pandas.read_csv(f, nrows=13, delimiter='\t')['Total'][10]) for f in StepanizerFiles]
DisectorVolumes['Stepanizer pixel size'] = [float(pandas.read_csv(f, delimiter='\t', encoding='latin',
                                                                  skiprows=16, header=None, usecols=[0,1],
                                                                  nrows=1)[1][0])
                                            for f in StepanizerFiles]
DisectorVolumes['Stepanizer counting area side length'] = [float(pandas.read_csv(f, delimiter='\t', encoding='latin',
                                                                        skiprows=19, header=None,
                                                                        usecols=[0,1], nrows=1)[1][0])
                                                  for f in StepanizerFiles]
DisectorVolumes['Calculated counting area'] = [ca ** 2 for ca in DisectorVolumes['Stepanizer counting area side length']]
DisectorVolumes['Stepanizer counting area'] = [float(pandas.read_csv(f, delimiter='\t', encoding='latin',
                                                            skiprows=28, header=None, usecols=[0,1],
                                                            nrows=1)[1][0])
                                      for f in StepanizerFiles]
DisectorVolumes['Counting volume'] = [DisectorThickness * TOMCATPixelSize * 2 * ca
                             for ca in DisectorVolumes['Calculated counting area']]
DisectorVolumes['Number of images'] = [int(pandas.read_csv(f, delimiter='\t', encoding='latin',
                                                  skiprows=12, header=None, usecols=[0,1, 2, 3],
                                                  nrows=1)[2][0][2:])  # Stefan writes '->NumImg' into the cell, so we read only everything from string position 3 on...
                              for f in StepanizerFiles]
DisectorVolumes['Total counting volume'] = [cv * numimg for cv, numimg in zip(DisectorVolumes['Counting volume'],
                                                                     DisectorVolumes['Number of images'])]
DisectorVolumes['Alveolar fraction'] = [cnts / tcv * 1e12 for tcv, cnts in zip(DisectorVolumes['Total counting volume'],
                                                                      DisectorVolumes['Counts'])]

In [31]:
DisectorVolumes.groupby(by=['Day', 'Animal'])['Counts'].describe()

            count        mean         std    min     25%    50%     75%    max
Day Animal
4   04A       2.0  596.500000  341.532575  355.0  475.75  596.5  717.25  838.0
    04B       1.0  647.000000         NaN  647.0  647.00  647.0  647.00  647.0
    04C       2.0  255.500000   84.145707  196.0  225.75  255.5  285.25  315.0
10  10A       3.0  276.666667   94.394562  193.0  225.50  258.0  318.50  379.0
    10C       1.0  305.000000         NaN  305.0  305.00  305.0  305.00  305.0
21  21B       1.0  294.000000         NaN  294.0  294.00  294.0  294.00  294.0
    21D       1.0  278.000000         NaN  278.0  278.00  278.0  278.00  278.0
    21E       1.0  324.000000         NaN  324.0  324.00  324.0  324.00  324.0
60  60B       1.0  418.000000         NaN  418.0  418.00  418.0  418.00  418.0
    60C       1.0  353.000000         NaN  353.0  353.00  353.0  353.00  353.0
    60D       1.0  759.000000         NaN  759.0  759.00  759.0  759.00  759.0

In [23]:
# Merge 'Eveline' and 'David' so we know what is still to do
# Based on https://stackoverflow.com/a/33350050/323100
StillToDo = pandas.merge(Eveline, David,
                         on=['Animal', 'Acinus', 'Day', 'Beamtime', 'Sample'],
                         how='outer',
                         indicator=True)
StillToDo = StillToDo[StillToDo._merge != 'both']
print('We still need to assess the disector volume in %s acini...' % len(StillToDo))

We still need to assess the disector volume in 273 acini...

In [32]:
# Print the 'Still to do' counts in random order.
# Use this order to assess the disector volume
StillToDo.sample(n=len(StillToDo))[['Beamtime', 'Sample', 'Acinus']]

       Beamtime           Sample  Acinus
263  2010c_tape  R108C60B_B1_mrg       0
259  2010c_tape  R108C21E_B1_mrg      38
199       2010a  R108C60C_B1-mrg       1
267  2010c_tape  R108C60B_B1_mrg       5
246  2010c_tape  R108C21D_B1_mrg      63
132       2010a    R108C04Ct-mrg      49
0         2009f    R108C60Dt-mrg       3
31        2010a    R108C04At-mrg      36
114       2010a    R108C04Ct-mrg      24
172       2010a    R108C10Bt-mrg      10
80        2010a    R108C04Bt-mrg      29
179       2010a    R108C10Bt-mrg      29
119       2010a    R108C04Ct-mrg      29
98        2010a    R108C04Ct-mrg       6
236  2010c_tape  R108C21D_B1_mrg       6
74        2010a    R108C04Bt-mrg      18
201       2010a  R108C60C_B1-mrg       4
10        2009f    R108C60Et-mrg       2
4         2009f    R108C60Dt-mrg      10
62        2010a    R108C04At-mrg      82
224  2010c_tape  R108C10C_B1_mrg      27
94        2010a    R108C04Ct-mrg       2
173       2010a    R108C10Bt-mrg      12
140       2010a    R108C04Ct-mrg      59
138       2010a    R108C04Ct-mrg      57
30        2010a    R108C04At-mrg      34
36        2010a    R108C04At-mrg      45
187       2010a    R108C21Bt-mrg      11
137       2010a    R108C04Ct-mrg      56
245  2010c_tape  R108C21D_B1_mrg      58
..          ...              ...     ...
161       2010a    R108C10At-mrg      37
125       2010a    R108C04Ct-mrg      40
182       2010a    R108C10Bt-mrg      41
59        2010a    R108C04At-mrg      78
169       2010a    R108C10At-mrg      53
16        2009f    R108C60Et-mrg      12
131       2010a    R108C04Ct-mrg      47
277  2010c_tape  R108C60B_B1_mrg      20
1         2009f    R108C60Dt-mrg       4
219  2010c_tape  R108C10C_B1_mrg       4
192       2010a    R108C21Bt-mrg      36
227  2010c_tape  R108C10C_B1_mrg      45
251  2010c_tape  R108C21D_B1_mrg      98
109       2010a    R108C04Ct-mrg      19
105       2010a    R108C04Ct-mrg      14
2         2009f    R108C60Dt-mrg       7
33        2010a    R108C04At-mrg      39
40        2010a    R108C04At-mrg      49
84        2010a    R108C04Bt-mrg      34
15        2009f    R108C60Et-mrg      11
175       2010a    R108C10Bt-mrg      16
43        2010a    R108C04At-mrg      56
234  2010c_tape  R108C10C_B1_mrg      86
118       2010a    R108C04Ct-mrg      28
167       2010a    R108C10At-mrg      49
123       2010a    R108C04Ct-mrg      36
100       2010a    R108C04Ct-mrg       8
120       2010a    R108C04Ct-mrg      31
127       2010a    R108C04Ct-mrg      42
121       2010a    R108C04Ct-mrg      33

[273 rows x 3 columns]